%title_1 { // titulo principal
	font-size: 40px;
	line-height: 45px;
	color: #4d4d4d;
	text-align: center;
}
%title_card {
	font-size: 22px;
	line-height: 24px;
	text-align: center;
	small {
		font-size: 10px;
		display: block;
		color: #cccccc;
	}
}
%description {
	font-size: 16px;
	text-align: center;
	color: black;
	line-height: 20px;
}