<!DOCTYPE html>
<html lang="en" ng-app="celularDireto">
<head>
	<meta charset="UTF-8">
	<title>Wooza Teste</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="js/angular.js"></script>
</head>
<body>
	<div class="headPage">
		<a href="https://www.wooza.com.br" target="_blank" class="headPage__logo"><img src="img/logo.png" alt=""></a>
		<h1 class="headPage__title">Teste funcional Wooza vaga Front-end</h1>
	</div>
	<div class="wrapper" ng-controller="celularDiretoCtrl">
		<div  class="card" >
			<div class="card__container tab__handle" id="item_{{$index}}" ng-repeat="plataforma in plataformas.plataformas">
				<h2 class="card__title">
					<small class="card__reference">{{plataforma.sku}}</small>
					<strong class="card__name">{{plataforma.nome}}</strong>
				</h2>
				<p class="card__description">{{plataforma.descricao}}</p>
				<a href="#" class="card__handle">Selecione</a>
			</div>	
		</div>

		<div class="tab__wrap item_0">
			<div class="card card--disabled">
				<div class="card__container {{tablet.ativo ? '': 'disabled'}}" ng-repeat="tablet in planosTablet.planos">
					<h3 class="card__title">
						<small class="card__reference">{{tablet.sku}}</small>
						<strong class="card__name">Franquia de dados: {{tablet.franquia}}</strong>
					</h3>
					<p class="card__price">{{tablet.valor}}</p>
					<a href="#" class="card__handle">Selecione</a>
				</div>	
			</div>
		</div>
		
		<div class="tab__wrap item_1">
			<div  class="card card--disabled ">
				<div class="card__container {{desktop.ativo ? '': 'disabled'}}" ng-repeat="desktop in planosDesktop.planos">
					<h3 class="card__title">
						<small class="card__reference">{{desktop.sku}}</small>
						<strong class="card__name">Franquia de dados: {{desktop.franquia}}</strong>
					</h3>
					<p class="card__price">{{desktop.valor}}</p>
					<p class="card__description--small">Este pacote inclui um <strong>{{desktop.aparelho.nome}} no valor de  {{desktop.aparelho.valor}}</strong> {{desktop.aparelho.numeroParcelas > 1 ?  'em até '+ desktop.aparelho.numeroParcelas + ' no valor de ' + desktop.aparelho.valorParcela: ''}} </p>
					<a href="#" class="card__handle">Selecione</a>
				</div>	
			</div>
		</div>

		<div class="tab__wrap item_2">
			<div  class="card card--disabled item_2">
				<div class="card__container {{wifi.ativo ? '': 'disabled'}}" ng-repeat="wifi in planosWifi.planos">
					<h3 class="card__title">
						<small class="card__reference">{{wifi.sku}}</small>
						<strong class="card__name">Franquia de dados: {{wifi.franquia}}</strong>
					</h3>
					<p class="card__price">{{wifi.valor}}</p>
					<p class="card__description--small">Este pacote inclui um <strong>{{wifi.aparelho.nome}} no valor de  {{wifi.aparelho.valor}}</strong> {{wifi.aparelho.numeroParcelas > 1 ?  'em até '+ wifi.aparelho.numeroParcelas + ' no valor de ' + wifi.aparelho.valorParcela: ''}} </p>

					<a href="#" class="card__handle">Selecione</a>
				</div>	
			</div>
		</div>


		<div class="form__container">
			<label class="form__label" for="name">Nome</label>			
			<input class="form__input" type="text" id="nome" ng-model="dados.nome">
			<label class="form__label" class="form__input" for="email">E-mail</label>
			<input class="form__input" type="email" id="email" ng-model="dados.email">
			<label class="form__label" for="data" >Data de Nascimento</label>
			<input class="form__input" type="text" id="data" ng-model="dados.data" data-mask="00/00/0000" data-mask-reverse="true">
			<label class="form__label" for="cpf">CPF</label>
			<input class="form__input" type="text" id="cpf" ng-model="dados.cpf" data-mask="000.000.000-00" data-mask-reverse="true">
			<label class="form__label" for="telefone">Telefone</label>
			<input class="form__input" type="text" id="telefone" ng-model="dados.telefone" data-mask="(00) 0000-0000" >
			<button ng-click="adicionarDados(nome, email, data, cpf, telefone)" class="form__button" ng-disabled="!dados.nome || !dados.email || !dados.data || !dados.cpf || !dados.telefone">Adicionar ao carrinho</button>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/main.js"></script>
</body>
</html>