.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
	width: 100%;
	&__price {
		font-size: 40px;
		line-height: 60px;
	}
	&__container {
		text-align: center;
		max-width: 30%;
		min-width: 23%;
		margin-bottom: 5%;
		margin-left: 2%;
		position: relative;
		&.disabled {
			opacity: 0.5;
			.card__handle {
				cursor: no-drop;
			}
		}
		&:first-child, &:nth-child(4n+1) {
			margin-left: 0;
		}
	}
	&__handle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-indent: -999em;
	}
	&__description {
		@extend %description;
		margin-top: 10px;
		&--small {
			@extend %description;
			font-size: 10px;
		}
	}
	&__title {
		@extend %title_card;
		font-weight: lighter;
	}
}