.form {
	&__container {
		max-width: 640px;
		margin: 0 auto;
		display: none;
		&.active {
			display: block;
		}
	}
	&__button {
		width: 100%;
		border: 0;
		margin-top: 20px;
		background-color: #4d4d4d;
		color: white;
		padding: 10px;
		text-transform: uppercase;
		&:disabled {
			opacity: 0.5;
		}
	}
	&__label {
		display: block;
		font-size: 14px;
		color: #4d4d4d;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	&__input {
		width: 100%;
		border-radius: 5px;
		border: 1px solid black;
		padding: 10px;
	}
}
